body {
    font-family: sans-serif;
}

header {
    padding: 1rem;
    background-color: white;
    width: 99%;
    border-bottom: #dad7d7 solid 3px;
}

main {
    padding: 2rem;
}

.box {
    display: grid;
    gap: 5rem;
}

.product {
    background-color: #ebebeb;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.product-image-box {
    height: 17rem;
}

.product-image-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-image-box img:hover{
    scale: 1.5;
}


.product-content {
    padding: 2rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price p {
    font-weight: 700;
}


.product-price button {
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.product-price button:hover{
    scale: 1.5;
}

footer {
    padding: 2rem;
    background-color: #ebebeb;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 2rem;
    }
    footer section{
        display: flex;
        gap: 1rem;
    }
}
    
@media screen and (min-width: 1024px) {
    .box{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
